body {
    display: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    user-select: none; 
}

.bubble
{
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 3px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 50%;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 17px 17px;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -20px;
    left: 50%;
}

.text
{
    padding: 1em;
    font-size: 2em;
}