:root{
    --widthInteractionWrapper : 900px;
    --widthInfoBox : 900px;
    --widthIconBtn : 10rem;
    --widthStartBtn: 200px;
    --fs-small : 3rem;
    --fs-medium: 3.5rem;
    --fs-large : 5rem;
}

@font-face {
    font-family: lora;
    src: url(/res/fonts/Lora.ttf);
}

@media (max-width: 1000px), (max-height: 800px) {
    :root{
        --fs-small : 2.5rem;
        --fs-medium: 2.5rem;
        --fs-large: 3rem;
        --widthIconBtn : 8rem;
        --widthInfoBox : 800px;
    }
}

@media (max-width: 830px) {
    :root{
        --fs-small : 2rem;
        --fs-medium: 2rem;
        --widthInfoBox : 650px;
    }
}
  

html {
    font-size: 10px;
    font-family: lora;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overscroll-behavior: none;
    overflow: hidden;
}

#loading{
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #062E7A;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 2s;
    z-index: 2;
    font-size: var(--fs-medium);
    color: white;
}

#prereq-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#logo{
    height: 50%;
    display: inline !important;
}

#loadtxt{
    display: block;
}

.container{
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;
  }

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
  }

  .circle:first-child{
    position: absolute;
    top:0;
    left:0;
    animation: grow 500ms linear 0ms infinite;
  }
  
  .circle:last-child{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 500ms linear 0s infinite reverse;
  }
  
  @keyframes grow {
    from {transform: scale(0,0); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
  }
  
  @keyframes move {
    from {transform: translateX(0px)}
    to {transform: translateX(45px)}
  }

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#overlay{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    user-select: none;
    transition: opacity 2s;
}

#overlay *, #loading *{
    transition: opacity 1s;
}




.img-btn img{
    width: 100%;
    display: block;
}

.txt-btn{
    width: var(--widthStartBtn);
    text-align: center;
    margin: 0 auto 0 auto;
    border: black solid 2px;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-size: var(--fs-large);
}

.button:hover{
    filter: invert();
}

.button{
    cursor: pointer;
}



#interaction-wrapper{
    display: none;
    position:absolute;
    top: 0px;
    left: 0px;
    width: var(--widthInteractionWrapper);
    max-width: 90%;
}

#lastbubblenext-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%; 
    padding-right: 1%;
}


#lastbubblenext-wrapper .img-btn img{
    width: var(--widthIconBtn)
}

#bubble{
    /*width: 70%;*/
    text-align: center;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000000 solid 3px;
    overflow: none;
}

#bubble:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(255, 255, 255, 0.4) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 45%;
}

#bubble:before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 17px 17px;
    border-color: #000000 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -20px;
    left: 45%;
}

#bubble-text{
    font-size: var(--fs-medium);
    padding: calc(var(--fs-medium) / 2);
}


#back-btn{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--widthIconBtn);
}


#info-box{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    max-width: var(--widthInfoBox);
    max-height: 20%;

    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
    padding: var(--fs-small);

    background-color: rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 3px;
    box-sizing: border-box;
    overflow: none;

    text-align: center;
    font-size: var(--fs-small);
}

#info-img{
    display: block;
    height: calc(2* var(--fs-small));
    padding-right: var(--fs-small);
}

#info-txt{
    padding-left: var(--fs-small);
}



#confrej-wrapper{
    display: none;
    margin-bottom: calc(var(--fs-large)/3);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: var(--fs-large);
}

#question{
    background-color: rgba(255, 255, 255, 0.4);    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000000 solid 3px;
    box-sizing: border-box;
    overflow: none;
    text-align: center;
    vertical-align: middle;
    height: calc(1.5 * var(--fs-large));
    line-height: calc(1.5 * var(--fs-large));
}


#confirm-btn{
    width: var(--widthIconBtn);
}

#reject-btn{
    width: var(--widthIconBtn);
}

#subpages{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}






