:root{
    --sub-fs-tiny : 2rem;
    --sub-fs-small : 3rem;
    --sub-fs-medium: 4rem;
    --sub-fs-large : 5.5rem;
    --sub-fs-gigantic: 6.5rem;
}

@font-face {
    font-family: lora;
    src: url(/res/fonts/Lora.ttf);
}


@media (max-width: 1500px) {
    :root{
        --sub-fs-tiny : 1.7rem;
        --sub-fs-small : 2.5rem;
        --sub-fs-medium: 3rem;
        --sub-fs-large: 4rem;
        --sub-fs-gigantic: 5.5rem;
    }
}

@media (max-width: 1000px){
    :root{
        --sub-fs-tiny : 1.5rem;
        --sub-fs-small : 2rem;
        --sub-fs-medium: 2.5rem;
        --sub-fs-large: 3rem;
        --sub-fs-gigantic: 4rem;
    }
}

@media (max-width: 700px){
    :root{
        --sub-fs-tiny : 1.2rem;
        --sub-fs-small : 1.5rem;
        --sub-fs-medium: 2rem;
        --sub-fs-large: 2.5rem;
        --sub-fs-gigantic: 3.5rem;
    }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }

.fadeIn{
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeOut{
    animation-name: fadeout;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.sub-wrapper{
    width: 80%;
    height: 80%;
    box-shadow: 0 0 var(--sub-fs-small) var(--sub-fs-small) black;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 1s;
}


.header{
    display:flex;
    align-items: center;
    background: linear-gradient(#3c81da, #122a79);
    color: white;
    width:100%;
    height: calc(1.5*var(--sub-fs-gigantic));
}

.page{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100% - 1.5 * var(--sub-fs-gigantic));
}

.side-navbar{
    flex: 1;
    background-color: #3c81da;
    font-size: var(--sub-fs-small);
    font-weight: bold;
    box-shadow: 0 0 calc(0.5*var(--sub-fs-tiny)) calc(0.5*var(--sub-fs-tiny)) black;
    margin: var(--sub-fs-medium);
}

.header-item{
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-item span{
    white-space:nowrap;
}

.header-item:first-child > span { margin-right: auto; }

.header-item:last-child  > span { margin-left: auto;  }

#left-nav, #right-nav{
    font-size: var(--sub-fs-large);
    padding: calc(0.2* var(--sub-fs-medium));
}

#left-nav span, #right-nav span{
    cursor: pointer;
}

#cur-nav{
    font-size: var(--sub-fs-gigantic);
    padding: calc(0.2* var(--sub-fs-medium));
}


.nav-item{
    padding: calc(0.5 * var(--sub-fs-medium));
}

a{
    color: inherit;
    text-decoration: none;
}

.content{
    flex: 3;
    text-align: center;
    overflow-y: auto;
    height: 100%;
    margin-right: var(--sub-fs-small);
    scroll-behavior: smooth;
}

#about-section{
    text-align: left;
    overflow-y: auto;
    font-size: var(--sub-fs-small);
    height: calc(100% - 1.5 * var(--sub-fs-gigantic));
    text-align: center;
}

#about-section li{
    margin-bottom: calc(1*var(--sub-fs-small));
}

.video{
    position: relative;
    max-width: 800px; /* wie breit soll das Video maximal sein */
    margin: auto;
    width: 75%;
}
.video:before{
    content: "";
    display: block;
    padding-top: 56%; /* 16:9 Format */
    }
.video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.video-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3c81da;
}

.play-btn{
    cursor: pointer;
    height: 30%;
}

#accept-btn:hover{
    background-color: green;
    cursor: pointer;
}

#accept-btn{
    background-color: lightgreen;
}

#decline-btn:hover{
    background-color: red;
    cursor: pointer;
}

#decline-btn{
    background-color: lightcoral;
}

.title{
    font-weight: bold;
    font-size: var(--sub-fs-medium);
    margin-bottom: calc(0.5 * var(--sub-fs-medium));
    margin-top: calc(0.5 * var(--sub-fs-medium));
    text-align: center;
}

.caption{
    margin-top: calc(0.5 * var(--sub-fs-medium));
    margin-bottom: calc(0.5 * var(--sub-fs-medium));
    font-size: var(--sub-fs-small);
}

.exercise-wrapper{
    font-size: var(--sub-fs-small);
    margin-bottom: calc(2*var(--sub-fs-small));
}


.exercise{
    text-align: justify;
}

